/vendor
/node_modules
/storage/*.key
/storage/logs/*.log
/storage/framework/cache/data/*
/bootstrap/cache/*.php

/.env
/.env.*
!.env.example
python/.env
python/venv/
python/__pycache__/
python/**/__pycache__/
python/logs/*.log
!python/logs/.gitkeep
